/* Website template by freewebsitetemplates.com */
body {
	background: url(../images/bg-body.jpg) repeat;
	color: #6c5b37;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0;
	min-width: 960px;
	padding: 0;
}


